.file {
  display: table;
}

.utterance, .window, .transition, .battle {
  display: table-row;
}

.utterance-jp, .utterance-en, .window-jp, .window-en, .transition-jp, .transition-en,
.battle-jp, .battle-en {
  display: table-cell;
}

.utterance .content {
  padding-left: 10px;
}

.speaker {
  color: blue;
}

.window {
  color: rgb(100,100,100);
  text-align: center;
}
.window-jp, .window-en {
  padding: 5px 0;
}

.battle {
  text-align: center;
  color: darkred;
}
